.loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input.invalid {
    border-color: red;
    background-color: #ffe6e6;
}

.errorText {
    color: red;
    font-size: 12px;
    margin-top: -10px;
}

/*.passwordContainer {
    position: relative;
    width: 100%;
}*/

.submitButton {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
