.centerWrapper {
  composes: centerWrapper from '../styles/auth.shared.module.css';
}

.signupBox {
  composes: authBox from '../styles/auth.shared.module.css';
  width: 440px;
}

.tabContainer {
  composes: tabContainer from '../styles/auth.shared.module.css';
}

.tabButton {
  composes: tabButton from '../styles/auth.shared.module.css';
}

.active {
  composes: tabButtonActive from '../styles/auth.shared.module.css';
}

.sliderContainer {
  composes: sliderContainer from '../styles/auth.shared.module.css';
}

.slider {
  composes: slider from '../styles/auth.shared.module.css';
}

.slide {
  composes: slide from '../styles/auth.shared.module.css';
}

.footerRow {
  composes: footerRow from '../styles/auth.shared.module.css';
}

.footerText {
  composes: footerText from '../styles/auth.shared.module.css';
}

.linkButton {
  composes: linkButton from '../styles/auth.shared.module.css';
}
